body{
    font-family: poppins;
    margin: 0;
    width: 1280px;
    background-color: hsl(0, 0%, 98%);
}
.upper-title{
    margin: 10px auto;
    width: 400px;
    text-align: center;
}
p{
    font-size: 12px;
    font-weight: lighter;
    margin-top: 0px;
    color: hsl(229, 6%, 66%);
}
.main-title{
    display: flex;
    flex-direction: column;
}
h1{
    margin-top: 0;
    color: hsl(234, 12%, 34%);
    font-size: 28px;
    margin-bottom: 0;
}
.bolder{
    font-weight: bold;
    margin-top: 0;
}
@font-face{
    font-family: poppins;
    src: url("/fonts/poppins/Poppins-light.ttf");
}
.icon-text{
    font-size: 13px;
    width: 280px;
    color:hsl(229, 6%, 66%);
}
.text{
    margin-left: 30px;
    margin-right: 20px;
    position: relative;
    top: 20px;
}
.layer{
    width: 350px;
    height: 200px;
    box-shadow: 5px 10px 28px -8px rgba(0,0,0,0.39);
    border-radius: 5px;
}
.cadre{
    width: 350px;
    height: 200px;
    background-color: white;
    border-radius: 0 0 5px 5px;
    position: relative;
    top: -13px;
}
.icons{
    margin-top: 60px;
    margin-left: 7.5%;
    height: 450px;
    width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1px;

}
.images{
    position: relative;
    float: right;
    margin-right: 15px;
}
#cyan{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: span 2;
    background-color: hsl(180, 62%, 55%);
}
#red{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span 2;
    background-color: hsl(0, 78%, 62%);
}
#blue{
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: span 2;
    background-color: hsl(212, 86%, 64%);
}
#orange{
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: span 2;
    background-color: hsl(34, 97%, 64%);
}
.attribution{
    margin-top: 25px;
}